@model TCFP.Web.Models.NewPassword
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="table">
        <div class="row">
            <h4>@Resources.Label.ResetPasswordHeader</h4>
            <br />
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @if (@ViewBag.Message != null)
            {
                <div class="validation-summary-errors text-info" data-valmsg-summary="true">
                    <ul>
                        <li>@ViewBag.Message</li>
                    </ul>
                </div>
            }
            <div class="row">
                @Html.LabelFor(m => m.Password, new { @class = "col-3" })
                @Html.PasswordFor(model => model.Password, new { @class = "form-control col-5", @maxLength = "16" })
            </div>
            <br />
            <div class="row">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-3" })
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control col-5", @maxLength = "16" })
            </div>
            <br />
            <div class="row">
                <button name="button" value="Submit" class=" col-1" type="submit">Submit</button>
            </div>
        </div>

    </div>
}

